# Dependencias
node_modules/
**/node_modules/

# Variables de entorno y secretos
.env
.env.*
!.env.example

# Builds
**/dist/
**/build/

# Logs
*.log
npm-debug.log*

# SO / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
